[optimade_zero_search_searchpage] {
	flex-basis: 400px;
	
}
[optimade_zero_search_resultspage] {
	flex-grow: 3;
}
[optimade_zero_search_search_input_row] {
	width: 100%;
}
[optimade_zero_search_refinementlabel_content],[optimade_zero_search_searchlabel_content] 
{flex-direction: column;}

[optimade_zero_search_results] {
	display: grid;
	grid-template-columns: repeat( auto-fit, minmax( 20rem, 1fr ) );
}

[optimade_zero_search_foundstr] {
	font-size: .8rem;
	font-weight: 500;
}
[optimade_zero_search_subrowsearch]{
	margin: 0;
	padding: 0;
}
[optimade_zero_search_showresultslink] {
	font-size: .8rem;
	font-weight: 500;
	padding: 0;
}
